@model Hobby

<h1>Create a Hobby</h1>
<a asp-action="Dashboard" asp-controller="Hobby">Home</a>
<a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">LogOut</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-controller="Hobby" method="POST">
    <label asp-for="HobbyName"></label>
    <input asp-for="HobbyName"><br>

    <label asp-for="Description"></label>
    <input asp-for="Description"><br>
    <input type="submit" value="Create" class="btn btn-outline-warning">

</form>


